<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8"></div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0" *ngIf="mode == 1">Visualizar</h3>
          <h3 class="mb-0" *ngIf="mode == 2">Crear</h3>
          <h3 class="mb-0" *ngIf="mode == 3">Actualizar</h3>
        </div>
        <!-- 6. Crear etiqueta tipo form hacemos referencia a formGroup -->
        <form class="form" [formGroup]="theFormGroup">
          <div class="card-body">
            <div class="row">
              <div class="col-4"><label>Id:</label></div>
              <div class="col-8">
                <!-- 7. Cada uno de los elementos tipo input y select, deben de tener un formControlName -->
                <!--<input type="text" class="form-control" disabled [(ngModel)]="theater.id" /> -->
                <p>{{ dueno.id }}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-4"><label>ID Usuario</label></div>
              <div class="col-8">
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="dueno.usuario_id"
                  formControlName="usuario_id"
                />
                <div
                  *ngIf="
                    getTheFormGroup.usuario_id.errors &&
                    (getTheFormGroup.usuario_id.dirty ||
                      getTheFormGroup.usuario_id.touched ||
                      trySend)
                  "
                >
                  <strong
                    *ngIf="getTheFormGroup.usuario_id.errors.required"
                    class="msnError"
                    >Requerido
                  </strong>

                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-4"><label>Telefono:</label></div>
              <div class="col-8">
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="dueno.telefono"
                  formControlName="telefono"
                />
                <!-- 8. Vamos a configurar el HTML para la visualizacion de las alertas -->
                <div
                  *ngIf="
                    getTheFormGroup.telefono.errors &&
                    (getTheFormGroup.telefono.dirty ||
                      getTheFormGroup.telefono.touched ||
                      trySend)
                  "
                >
                  <strong
                    *ngIf="getTheFormGroup.telefono.errors.required"
                    class="msnError"
                    >Requerido</strong
                  >
                  <strong
                    *ngIf="getTheFormGroup.telefono.errors.minlength"
                    class="msnError"
                    >debe tener mas de 8 caracteres
                  </strong>
                  <strong
                    *ngIf="getTheFormGroup.telefono.errors.maxlength"
                    class="msnError"
                    >debe tener menos de 20 caracteres
                  </strong>
                  <strong
                    *ngIf="getTheFormGroup.telefono.errors.pattern"
                    class="msnError"
                    >no cumple el formato
                  </strong>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-4"><label>Fecha de nacimiento:</label></div>
              <div class="col-8">
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="dueno.fecha_nacimiento"
                  formControlName="fecha_nacimiento"
                />
                <!-- 8. Vamos a configurar el HTML para la visualizacion de las alertas -->
                <div
                  *ngIf="
                    getTheFormGroup.fecha_nacimiento.errors &&
                    (getTheFormGroup.fecha_nacimiento.dirty ||
                      getTheFormGroup.fecha_nacimiento.touched ||
                      trySend)
                  "
                >
                  <strong
                    *ngIf="getTheFormGroup.fecha_nacimiento.errors.required"
                    class="msnError"
                    >Requerido</strong
                  >
                  <strong
                    *ngIf="getTheFormGroup.fecha_nacimiento.errors.pattern"
                    class="msnError"
                    >no cumple el formato de fecha 
                  </strong>
                  
                  
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-4">Conductor:
              </div>
              <div class="col-8">
                <select class="form-control" formControlName="conductor_id" [(ngModel)]="dueno.conductor_id">
                  <option *ngFor="let option of conductores" [value]="option.id">{{option.id}}</option>
                </select>
              </div>
            </div>

            <div class="row">
              <div class="col-4"></div>
              <div class="col-8">
                <button
                  class="btn btn-success btn-block"
                  *ngIf="mode == 2"
                  (click)="create()"
                >
                  Crear
                </button>
                <button
                  class="btn btn-success btn-block"
                  *ngIf="mode == 3"
                  (click)="update()"
                >
                  Actualizar
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
