<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8"></div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0" *ngIf="mode == 1">Visualizar</h3>
          <h3 class="mb-0" *ngIf="mode == 2">Crear</h3>
          <h3 class="mb-0" *ngIf="mode == 3">Actualizar</h3>
        </div>
        <!-- 6. Crear etiqueta tipo form hacemos referencia a formGroup -->
        <form class="form" [formGroup]="theFormGroup">
          <div class="card-body">
            <div class="row">
              <div class="col-4"><label>Id:</label></div>
              <div class="col-8">
                <!-- 7. Cada uno de los elementos tipo input y select, deben de tener un formControlName -->
                <!--<input type="text" class="form-control" disabled [(ngModel)]="theater.id" /> -->
                <p>{{ centroDistribucion.id }}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-4"><label>nombre:</label></div>
              <div class="col-8">
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="centroDistribucion.nombre"
                  formControlName="nombre"
                />
                <!-- 8. Vamos a configurar el HTML para la visualizacion de las alertas -->
                <div
                  *ngIf="
                    getTheFormGroup.nombre.errors &&
                    (getTheFormGroup.nombre.dirty ||
                      getTheFormGroup.nombre.touched ||
                      trySend)
                  "
                >
                  <strong
                    *ngIf="getTheFormGroup.nombre.errors.required"
                    class="msnError"
                    >Requerido</strong
                  >
                  <strong
                    *ngIf="getTheFormGroup.nombre.errors.minlength"
                    class="msnError"
                    >Debe tener mas de 2 caracteres 
                  </strong>

                  <strong
                    *ngIf="getTheFormGroup.nombre.errors.maxlength"
                    class="msnError"
                    >No debe tener mas de 20 caracteres 
                  </strong>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-4"><label>capacidad_almacenamiento</label></div>
              <div class="col-8">
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="centroDistribucion.capacidad_almacenamiento"
                  formControlName="capacidad_almacenamiento"
                />
                <div
                  *ngIf="
                    getTheFormGroup.capacidad_almacenamiento.errors &&
                    (getTheFormGroup.capacidad_almacenamiento.dirty ||
                      getTheFormGroup.capacidad_almacenamiento.touched ||
                      trySend)
                  "
                >
                  <strong
                    *ngIf="getTheFormGroup.capacidad_almacenamiento.errors.min"
                    class="msnError"
                    >Debe ser mayor de 0
                  </strong>
                  <strong
                    *ngIf="getTheFormGroup.capacidad_almacenamiento.errors.max"
                    class="msnError"
                    >Debe ser menor de 100000
                  </strong>
                  <strong
                    *ngIf="getTheFormGroup.capacidad_almacenamiento.errors.required"
                    class="msnError"
                    >Requerido</strong
                  >
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-4"><label>direccion_id</label></div>
              <div class="col-8">
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="centroDistribucion.direccion_id"
                  formControlName="direccion_id"
                />
                <!-- 8. Vamos a configurar el HTML para la visualizacion de las alertas -->
                <div
                  *ngIf="
                    getTheFormGroup.direccion_id.errors &&
                    (getTheFormGroup.direccion_id.dirty ||
                      getTheFormGroup.direccion_id.touched ||
                      trySend)
                  "
                >
                  <strong
                    *ngIf="getTheFormGroup.direccion_id.errors.required"
                    class="msnError"
                    >Requerido</strong
                  >
                  <strong
                    *ngIf="getTheFormGroup.direccion_id.errors.min"
                    class="msnError"
                    >debe ser mayor de 0
                  </strong>
                </div>
              </div>
            </div>
            
            <div class="row">
              <div class="col-4"></div>
              <div class="col-8">
                <button
                  class="btn btn-success btn-block"
                  *ngIf="mode == 2"
                  (click)="create()"
                >
                  Crear
                </button>
                <button
                  class="btn btn-success btn-block"
                  *ngIf="mode == 3"
                  (click)="update()"
                >
                  Actualizar
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
