<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8"></div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0" *ngIf="mode == 1">Visualizar</h3>
          <h3 class="mb-0" *ngIf="mode == 2">Crear</h3>
          <h3 class="mb-0" *ngIf="mode == 3">Actualizar</h3>
        </div>
        <!-- 6. Crear etiqueta tipo form hacemos referencia a formGroup -->
        <form class="form" [formGroup]="theFormGroup">
          <div class="card-body">
            <div class="row">
              <div class="col-4"><label>Id:</label></div>
              <div class="col-8">
                <!-- 7. Cada uno de los elementos tipo input y select, deben de tener un formControlName -->
                <!--<input type="text" class="form-control" disabled [(ngModel)]="theater.id" /> -->
                <p>{{ operacion.id }}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-4"><label>Fecha de inicio:</label></div>
              <div class="col-8">
                <input type="text" class="form-control" [(ngModel)]="operacion.fecha_inicio"
                  formControlName="fecha_inicio" />
                <!-- 8. Vamos a configurar el HTML para la visualizacion de las alertas -->
                <div *ngIf="
                    getTheFormGroup.fecha_inicio.errors &&
                    (getTheFormGroup.fecha_inicio.dirty ||
                      getTheFormGroup.fecha_inicio.touched ||
                      trySend)
                  ">
                  <strong *ngIf="getTheFormGroup.fecha_inicio.errors.required" class="msnError">Requerido</strong>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-4">Fecha fin:</div>
              <div class="col-8">
                <input type="text" class="form-control" [(ngModel)]="operacion.fecha_fin" formControlName="fecha_fin" />
                <div *ngIf="
                    getTheFormGroup.fecha_fin.errors &&
                    (getTheFormGroup.fecha_fin.dirty ||
                      getTheFormGroup.fecha_fin.touched ||
                      trySend)
                  ">
                  <strong *ngIf="getTheFormGroup.fecha_fin.errors.required" class="msnError">Requerido</strong>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-4">Vehiculo:
              </div>
              <div class="col-8">
                <select class="form-control" formControlName="vehiculo_id" [(ngModel)]="operacion.vehiculo_id">
                  <option *ngFor="let option of vehiculos" [value]="option.id">{{option.matricula}}</option>
                </select>
              </div>
            </div>

            <div class="row">
              <div class="col-4">Municipio:
              </div>
              <div class="col-8">
                <select class="form-control" formControlName="municipio_id" [(ngModel)]="operacion.municipio_id">
                  <option *ngFor="let option of municipios" [value]="option.id">{{option.nombre}}</option>
                </select>
              </div>
            </div>

            <div class="row">
              <div class="col-4"></div>
              <div class="col-8">
                <button class="btn btn-success btn-block" *ngIf="mode == 2" (click)="create()">
                  Crear
                </button>
                <button class="btn btn-success btn-block" *ngIf="mode == 3" (click)="update()">
                  Actualizar
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>