<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8"></div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0" *ngIf="mode == 1">Visualizar</h3>
          <h3 class="mb-0" *ngIf="mode == 2">Crear</h3>
          <h3 class="mb-0" *ngIf="mode == 3">Actualizar</h3>
        </div>
        <!-- 6. Crear etiqueta tipo form hacemos referencia a formGroup -->
        <form class="form" [formGroup]="theFormGroup">
          <div class="card-body">
            <div class="row">
              <div class="col-4"><label>Id:</label></div>
              <div class="col-8">
                <!-- 7. Cada uno de los elementos tipo input y select, deben de tener un formControlName -->
                <!--<input type="text" class="form-control" disabled [(ngModel)]="theater.id" /> -->
                <p>{{ vehiculo.id }}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-4"><label>Matricula:</label></div>
              <div class="col-8">
                <input type="text" class="form-control" [(ngModel)]="vehiculo.matricula"
                  formControlName="matricula" />
                <!-- 8. Vamos a configurar el HTML para la visualizacion de las alertas -->
                <div *ngIf="
                    getTheFormGroup.matricula.errors &&
                    (getTheFormGroup.matricula.dirty ||
                      getTheFormGroup.matricula.touched ||
                      trySend)
                  ">
                  <strong *ngIf="getTheFormGroup.matricula.errors.required" class="msnError">Requerido</strong>
                  <strong *ngIf="getTheFormGroup.matricula.errors.pattern" class="msnError">Formato inválido
                  </strong>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-4"><label>Modelo:</label></div>
              <div class="col-8">
                <input type="text" class="form-control" [(ngModel)]="vehiculo.modelo" formControlName="modelo" />
                <div *ngIf="
                    getTheFormGroup.modelo.errors &&
                    (getTheFormGroup.modelo.dirty ||
                      getTheFormGroup.modelo.touched ||
                      trySend)
                  ">
                  <strong *ngIf="getTheFormGroup.modelo.errors.required" class="msnError">Requerido</strong>
                  <strong *ngIf="getTheFormGroup.matricula.errors.pattern" class="msnError">Formato inválido
                  </strong>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-4"><label>Tipo de carga:</label></div>
              <div class="col-8">
                <input type="text" class="form-control" [(ngModel)]="vehiculo.tipo_carga"
                  formControlName="tipo_carga" />
                <div *ngIf="
                    getTheFormGroup.tipo_carga.errors &&
                    (getTheFormGroup.tipo_carga.dirty ||
                      getTheFormGroup.tipo_carga.touched ||
                      trySend)
                  ">
                  <strong *ngIf="getTheFormGroup.tipo_carga.errors.pattern" class="msnError">Formato invalido
                  </strong>
                  <strong *ngIf="getTheFormGroup.tipo_carga.errors.required" class="msnError">Requerido</strong>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-4"><label>Capacidad de carga:</label></div>
              <div class="col-8">
                <input type="text" class="form-control" [(ngModel)]="vehiculo.capacidad_carga"
                  formControlName="capacidad_carga" />
                <div *ngIf="
                    getTheFormGroup.capacidad_carga.errors &&
                    (getTheFormGroup.capacidad_carga.dirty ||
                      getTheFormGroup.capacidad_carga.touched ||
                      trySend)
                  ">
                  <strong *ngIf="getTheFormGroup.capacidad_carga.errors.pattern" class="msnError">Formato invalido
                  </strong>
                  <strong *ngIf="getTheFormGroup.capacidad_carga.errors.required" class="msnError">Requerido</strong>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-4"></div>
              <div class="col-8">
                <button class="btn btn-success btn-block" *ngIf="mode == 2" (click)="create()">
                  Crear
                </button>
                <button class="btn btn-success btn-block" *ngIf="mode == 3" (click)="update()">
                  Actualizar
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>