<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8"></div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0" *ngIf="mode == 1">Visualizar</h3>
          <h3 class="mb-0" *ngIf="mode == 2">Crear</h3>
          <h3 class="mb-0" *ngIf="mode == 3">Actualizar</h3>
        </div>
        <!-- 6. Crear etiqueta tipo form hacemos referencia a formGroup -->
        <form class="form" [formGroup]="theFormGroup">
          <div class="card-body">
            <div class="row">
              <div class="col-4"><label>Id:</label></div>
              <div class="col-8">
                <!-- 7. Cada uno de los elementos tipo input y select, deben de tener un formControlName -->
                <!--<input type="text" class="form-control" disabled [(ngModel)]="theater.id" /> -->
                <p>{{municipio.id}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-4"><label>Nombre:</label></div>
              <div class="col-8">
                <input type="text" class="form-control" [(ngModel)]="municipio.nombre"
                  formControlName="nombre" />
                <!-- 8. Vamos a configurar el HTML para la visualizacion de las alertas -->
                <div *ngIf="
                    getTheFormGroup.nombre.errors &&
                    (getTheFormGroup.nombre.dirty ||
                      getTheFormGroup.nombre.touched ||
                      trySend)
                  ">
                  <strong *ngIf="getTheFormGroup.nombre.errors.required" class="msnError">Requerido</strong>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-4">Codigo postal:</div>
              <div class="col-8">
                <input type="text" class="form-control" [(ngModel)]="municipio.codigo_postal" formControlName="codigo_postal" />
                <div *ngIf="
                    getTheFormGroup.codigo_postal.errors &&
                    (getTheFormGroup.codigo_postal.dirty ||
                      getTheFormGroup.codigo_postal.touched ||
                      trySend)
                  ">
                  <strong *ngIf="getTheFormGroup.codigo_postal.errors.required" class="msnError">Requerido</strong>
                  <strong *ngIf="getTheFormGroup.codigo_postal.errors.pattern" class="msnError"Formato invalido></strong>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-4"><label>Departamento ID:</label></div>
              <div class="col-8">
                <input type="text" class="form-control" [(ngModel)]="municipio.departamento_id"
                  formControlName="departamento_id" />
                <div *ngIf="
                    getTheFormGroup.departamento_id.errors &&
                    (getTheFormGroup.departamento_id.dirty ||
                      getTheFormGroup.departamento_id.touched ||
                      trySend)
                  ">
                  <strong *ngIf="getTheFormGroup.departamento_id.errors.required" class="msnError">Requerido</strong>
                  <strong *ngIf="getTheFormGroup.departamento_id.errors.min" class="msnError">Debe ser mayor que 1</strong>
                </div>
              </div>
            </div>


            

            <div class="row">
              <div class="col-4"></div>
              <div class="col-8">
                <button class="btn btn-success btn-block" *ngIf="mode == 2" (click)="create()">
                  Crear
                </button>
                <button class="btn btn-success btn-block" *ngIf="mode == 3" (click)="update()">
                  Actualizar
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>