<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8"></div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0" *ngIf="mode == 1">Visualizar</h3>
          <h3 class="mb-0" *ngIf="mode == 2">Crear</h3>
          <h3 class="mb-0" *ngIf="mode == 3">Actualizar</h3>
        </div>
        <!-- 6. Crear etiqueta tipo form hacemos referencia a formGroup -->
        <form class="form" [formGroup]="theFormGroup">
          <div class="card-body">
            <div class="row">
              <div class="col-4"><label>Id:</label></div>
              <div class="col-8">
                <!-- 7. Cada uno de los elementos tipo input y select, deben de tener un formControlName -->
                <!--<input type="text" class="form-control" disabled [(ngModel)]="theater.id" /> -->
                <p>{{ cuota.id }}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-4"><label>Monto</label></div>
              <div class="col-8">
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="cuota.monto"
                  formControlName="monto"
                />
                <div
                  *ngIf="
                    getTheFormGroup.monto.errors &&
                    (getTheFormGroup.monto.dirty ||
                      getTheFormGroup.monto.touched ||
                      trySend)
                  "
                >
                  <strong
                    *ngIf="getTheFormGroup.monto.errors.required"
                    class="msnError"
                    >Requerido</strong
                  >
                  <strong
                    *ngIf="getTheFormGroup.monto.errors.min"
                    class="msnError"
                    >debe ser mayor a 0
                  </strong>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-4"><label>Intereses:</label></div>
              <div class="col-8">
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="cuota.intereses"
                  formControlName="intereses"
                />
                <!-- 8. Vamos a configurar el HTML para la visualizacion de las alertas -->
                <div
                  *ngIf="
                    getTheFormGroup.intereses.errors &&
                    (getTheFormGroup.intereses.dirty ||
                      getTheFormGroup.intereses.touched ||
                      trySend)
                  "
                >
                  <strong
                    *ngIf="getTheFormGroup.intereses.errors.required"
                    class="msnError"
                    >Requerido</strong
                  >
                  <strong
                    *ngIf="getTheFormGroup.intereses.errors.min"
                    class="msnError"
                    >Debe ser mayor a 0
                  </strong>

                  <strong
                    *ngIf="getTheFormGroup.intereses.errors.max"
                    class="msnError"
                    >Debe ser menor a 1
                  </strong>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-4"><label>Contrato id:</label></div>
              <div class="col-8">
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="cuota.contrato_id"
                  formControlName="contrato_id"
                />
                <div
                  *ngIf="
                    getTheFormGroup.contrato_id.errors &&
                    (getTheFormGroup.contrato_id.dirty ||
                      getTheFormGroup.contrato_id.touched ||
                      trySend)
                  "
                >
                  <strong
                    *ngIf="getTheFormGroup.contrato_id.errors.required"
                    class="msnError"
                    >Requerido</strong
                  >
                  <strong
                    *ngIf="getTheFormGroup.contrato_id.errors.min"
                    class="msnError"
                    >debe ser mayor a 0
                  </strong>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-4"></div>
              <div class="col-8">
                <button
                  class="btn btn-success btn-block"
                  *ngIf="mode == 2"
                  (click)="create()"
                >
                  Crear
                </button>
                <button
                  class="btn btn-success btn-block"
                  *ngIf="mode == 3"
                  (click)="update()"
                >
                  Actualizar
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
