<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8"></div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0" *ngIf="mode == 1">Visualizar</h3>
          <h3 class="mb-0" *ngIf="mode == 2">Crear</h3>
          <h3 class="mb-0" *ngIf="mode == 3">Actualizar</h3>
        </div>
        <!-- 6. Crear etiqueta tipo form hacemos referencia a formGroup -->
        <form class="form" [formGroup]="theFormGroup">
          <div class="card-body">
            <div class="row">
              <div class="col-4"><label>Id:</label></div>
              <div class="col-8">
                <!-- 7. Cada uno de los elementos tipo input y select, deben de tener un formControlName -->
                <!--<input type="text" class="form-control" disabled [(ngModel)]="theater.id" /> -->
                <p>{{ duenoVehiculo.id }}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-4"><label>Porcentaje de propiedad</label></div>
              <div class="col-8">
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="duenoVehiculo.porcentaje_propiedad"
                  formControlName="porcentaje_propiedad"
                />
                <div
                  *ngIf="
                    getTheFormGroup.porcentaje_propiedad.errors &&
                    (getTheFormGroup.porcentaje_propiedad.dirty ||
                      getTheFormGroup.porcentaje_propiedad.touched ||
                      trySend)
                  "
                >
                  <strong
                    *ngIf="getTheFormGroup.porcentaje_propiedad.errors.required"
                    class="msnError"
                    >Requerido
                  </strong>
                  <strong
                    *ngIf="getTheFormGroup.porcentaje_propiedad.errors.min"
                    class="msnError"
                    >debe ser mayor a 0
                  </strong>

                </div>
              </div>
            </div>
            

            <div class="row">
              <div class="col-4"><label>Fecha de adquisicion:</label></div>
              <div class="col-8">
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="duenoVehiculo.fecha_adquisicion"
                  formControlName="fecha_adquisicion"
                />
                <!-- 8. Vamos a configurar el HTML para la visualizacion de las alertas -->
                <div
                  *ngIf="
                    getTheFormGroup.fecha_adquisicion.errors &&
                    (getTheFormGroup.fecha_adquisicion.dirty ||
                      getTheFormGroup.fecha_adquisicion.touched ||
                      trySend)
                  "
                >
                  <strong
                    *ngIf="getTheFormGroup.fecha_adquisicion.errors.required"
                    class="msnError"
                    >Requerido</strong
                  >
                  <strong
                    *ngIf="getTheFormGroup.fecha_adquisicion.errors.pattern"
                    class="msnError"
                    >no cumple el formato de fecha 
                  </strong>
                  
                  
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-4">Dueño:
              </div>
              <div class="col-8">
                <select class="form-control" formControlName="dueno_id" [(ngModel)]="duenoVehiculo.dueno_id">
                  <option *ngFor="let option of duenos" [value]="option.id">{{option.id}}</option>
                </select>
              </div>
            </div>

            <div class="row">
              <div class="col-4">Vehiculo:
              </div>
              <div class="col-8">
                <select class="form-control" formControlName="vehiculo_id" [(ngModel)]="duenoVehiculo.vehiculo_id">
                  <option *ngFor="let option of vehiculos" [value]="option.id">{{option.matricula}}</option>
                </select>
              </div>
            </div>

            <div class="row">
              <div class="col-4"></div>
              <div class="col-8">
                <button
                  class="btn btn-success btn-block"
                  *ngIf="mode == 2"
                  (click)="create()"
                >
                  Crear
                </button>
                <button
                  class="btn btn-success btn-block"
                  *ngIf="mode == 3"
                  (click)="update()"
                >
                  Actualizar
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
