<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8"></div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0" *ngIf="mode == 1">Visualizar</h3>
          <h3 class="mb-0" *ngIf="mode == 2">Crear</h3>
          <h3 class="mb-0" *ngIf="mode == 3">Actualizar</h3>
        </div>
        <!-- 6. Crear etiqueta tipo form hacemos referencia a formGroup -->
        <form class="form" [formGroup]="theFormGroup">
          <div class="card-body">
            <div class="row">
              <div class="col-4"><label>Id:</label></div>
              <div class="col-8">
                <!-- 7. Cada uno de los elementos tipo input y select, deben de tener un formControlName -->
                <!--<input type="text" class="form-control" disabled [(ngModel)]="theater.id" /> -->
                <p>{{ dirListaOrden.id }}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-4"><label>orden</label></div>
              <div class="col-8">
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="dirListaOrden.orden"
                  formControlName="orden"
                />
                <div
                  *ngIf="
                    getTheFormGroup.orden.errors &&
                    (getTheFormGroup.orden.dirty ||
                      getTheFormGroup.orden.touched ||
                      trySend)
                  "
                >
                  <strong
                    *ngIf="getTheFormGroup.orden.errors.required"
                    class="msnError"
                    >Requerido</strong
                  >
                  <strong
                    *ngIf="getTheFormGroup.orden.errors.minlength"
                    class="msnError"
                    >debe tener mas de caracter
                  </strong>
                  <strong
                    *ngIf="getTheFormGroup.orden.errors.maxlength"
                    class="msnError"
                    >debe tener menos de 4 caracteres
                  </strong>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-4"><label>descripcion:</label></div>
              <div class="col-8">
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="dirListaOrden.descripcion"
                  formControlName="descripcion"
                />
                <!-- 8. Vamos a configurar el HTML para la visualizacion de las alertas -->
                <div
                  *ngIf="
                    getTheFormGroup.descripcion.errors &&
                    (getTheFormGroup.descripcion.dirty ||
                      getTheFormGroup.descripcion.touched ||
                      trySend)
                  "
                >
                  <strong
                    *ngIf="getTheFormGroup.descripcion.errors.maxlength"
                    class="msnError"
                    >debe tener menos de 20 caracteres
                  </strong>
                  
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-4"><label>ruta_id:</label></div>
              <div class="col-8">
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="dirListaOrden.ruta_id"
                  formControlName="ruta_id"
                />
                <!-- 8. Vamos a configurar el HTML para la visualizacion de las alertas -->
                <div
                  *ngIf="
                    getTheFormGroup.ruta_id.errors &&
                    (getTheFormGroup.ruta_id.dirty ||
                      getTheFormGroup.ruta_id.touched ||
                      trySend)
                  "
                >
                  <strong
                    *ngIf="getTheFormGroup.ruta_id.errors.required"
                    class="msnError"
                    >Requerido
                  </strong>
                  <strong
                    *ngIf="getTheFormGroup.ruta_id.errors.min"
                    class="msnError"
                    >debe ser mayor a 0
                  </strong>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-4"><label>direccion_id:</label></div>
              <div class="col-8">
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="dirListaOrden.direccion_id"
                  formControlName="direccion_id"
                />
                <!-- 8. Vamos a configurar el HTML para la visualizacion de las alertas -->
                <div
                  *ngIf="
                    getTheFormGroup.direccion_id.errors &&
                    (getTheFormGroup.direccion_id.dirty ||
                      getTheFormGroup.direccion_id.touched ||
                      trySend)
                  "
                >
                  <strong
                    *ngIf="getTheFormGroup.direccion_id.errors.required"
                    class="msnError"
                    >Requerido
                  </strong>
                  <strong
                    *ngIf="getTheFormGroup.direccion_id.errors.min"
                    class="msnError"
                    >debe ser mayor a 0
                  </strong>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-4"></div>
              <div class="col-8">
                <button
                  class="btn btn-success btn-block"
                  *ngIf="mode == 2"
                  (click)="create()"
                >
                  Crear
                </button>
                <button
                  class="btn btn-success btn-block"
                  *ngIf="mode == 3"
                  (click)="update()"
                >
                  Actualizar
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
