<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8"></div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0" *ngIf="mode == 1">Visualizar</h3>
          <h3 class="mb-0" *ngIf="mode == 2">Crear</h3>
          <h3 class="mb-0" *ngIf="mode == 3">Actualizar</h3>
        </div>
        <!-- 6. Crear etiqueta tipo form hacemos referencia a formGroup -->
        <form class="form" [formGroup]="theFormGroup">
          <div class="card-body">
            <div class="row">
              <div class="col-4"><label>Id:</label></div>
              <div class="col-8">
                <!-- 7. Cada uno de los elementos tipo input y select, deben de tener un formControlName -->
                <!--<input type="text" class="form-control" disabled [(ngModel)]="theater.id" /> -->
                <p>{{lote.id}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-4"><label>Peso:</label></div>
              <div class="col-8">
                <input type="text" class="form-control" [(ngModel)]="lote.peso"
                  formControlName="peso" />
                <!-- 8. Vamos a configurar el HTML para la visualizacion de las alertas -->
                <div *ngIf="
                    getTheFormGroup.peso.errors &&
                    (getTheFormGroup.peso.dirty ||
                      getTheFormGroup.peso.touched ||
                      trySend)
                  ">
                  <strong *ngIf="getTheFormGroup.peso.errors.required" class="msnError">Requerido</strong>
                  <strong *ngIf="getTheFormGroup.peso.errors.min" class="msnError">Debe ser mayor que 0</strong>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-4">Volumen:</div>
              <div class="col-8">
                <input type="text" class="form-control" [(ngModel)]="lote.volumen" formControlName="volumen" />
                <div *ngIf="
                    getTheFormGroup.volumen.errors &&
                    (getTheFormGroup.volumen.dirty ||
                      getTheFormGroup.volumen.touched ||
                      trySend)
                  ">
                  <strong *ngIf="getTheFormGroup.volumen.errors.required" class="msnError">Requerido</strong>
                  <strong *ngIf="getTheFormGroup.volumen.errors.min" class="msnError">Debe ser mayor que 0</strong>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-4">Orden de entrega:
              </div>
              <div class="col-8">
                <select class="form-control" formControlName="dir_lista_orden_id" [(ngModel)]="lote.dir_lista_orden_id">
                  <option *ngFor="let option of dirListaOrdenes" [value]="option.id">{{option.id}}</option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col-4"></div>
              <div class="col-8">
                <button class="btn btn-success btn-block" *ngIf="mode == 2" (click)="create()">
                  Crear
                </button>
                <button class="btn btn-success btn-block" *ngIf="mode == 3" (click)="update()">
                  Actualizar
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>